bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/DSA/FileContentIndex
/.vs/DSA/v17
/.vs/DSA/DesignTimeBuild
/.gitignore
/.gitignore
/.vs/ProjectEvaluation
/CPP/x64/Debug
/x64/Debug
.vs/cmake.db
CPPStuff/CMakeTuts/.vscode
CPPStuff/CMakeTuts/usingTheLib/external
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

[Bb][Uu][Ii][Ll][Dd]
LCPP/x64
LCPP/x64/Debug/LCPP.log

/CPPStuff/x64/Debug
CSES/tests/
